
@{
    ViewBag.Title = "Index";
}

<h1>About the developer and the solution</h1>

<h3>Developer</h3>

<p>Name: Enderson Salas Vargas.<br />
   E-mail: ender15salas@gmail.com<br />
   Nationality: Costa Rican.<br />
   Bachelor Business Informatics at the University of Costa Rica<br />
</p>

<h3>The solution</h3>
<p>
    The first step to the solution of this problem is to first determine the data from the .txt document are correct, then process the data using the methods provided by the Web API; who will be responsible for returning the winner and the first ten players.
</p>
<br />
<h4> Technologies used:</h4>
<p>
    - ASP.NET MVC 5<br />
    - Microsoft Server SQL 2012<br />
    - Web API in MVC 5<br />
    - Entity Framework<br />
</p>
<br />
<h4> Justification:</h4>
<p>
    I used this tecnology because .Net give the simple way to develop application and also the easy way to make documentation about the methods of the application for example with the REST API in MVC.
</p>


